.logo
{
    width: 100px;
    height: 100px;
}
.trapwire
{
    font-family: Verdana;
    text-decoration: none;
}
.quemsomos
{
    font-size: 15px;
    font-family: system-ui, -apple-system;
}
.projeto
{
    font-size: 15px;
    font-family: system-ui, -apple-system;
}
.objetivo
{
    font-size: 15px;
    font-family: system-ui, -apple-system;
}
.der
{
    width: 500px;   
}
.diagrams
{
    font-family: system-ui, -apple-system;
}