:root{
    --color-white: #fff;
    --color-dark1: #272727;
    --color-dark2: #2d2d2d;
    --color-dark3: #414141;
    --color-dark4: #1c1c1c;
    --color-dark5: #343434;
    --color-purple: #b040ff;
}

#{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-dark1);
    color: var(--color-white);
}
.imgLogo {
    width: 90px;
}

.headerTwo {
    display: flex;
    flex-direction: row;
    align-items: center;
}